.card {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 16px;
  font-size: 18px;
  background-color: #0C4459;
  border: 3px solid #F2B672;
  border-radius: 10px;
  padding: 20px 30px;
}

