.input-form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 16px;
  font-size: 18px;
  background-color: #19687F;
  border-radius: 20px;
  padding: 20px 20px 40px;
}

.input-form__row {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
